/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body { 
    margin: 0;
    min-height: 100%;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    
    background-image: linear-gradient(to right, #ffecc4, #fff 12% 92%, #ffecc4);
    background-repeat:'no-repeat';
}

p {
    margin: 0 !important;
}